
/* Original Color Scheme: {"Gunmetal":"292f36","Medium Turquoise":"4ecdc4","Mint Cream":"f7fff7","Bittersweet":"ff6b6b","Naples Yellow":"ffe66d" "paradise pink": "EF476F"} */

body{
    background-color: #292F36 ;
}

.jumbotron{ 

    display: block;
    border: 3px solid #8D80AD;
    border-radius: 1rem;
    color: #4ECDC4;
    background-color: #292f36;
}
#instructions {
    color: #f7fff7;
}
#jumboDivider, .error-divider {
   background-color: #987284; 
}

p {
    color:#f7fff7;
}
.alert-oops{
    display: block;
    border: 3px solid #ef476f;
    border-radius: 1rem;
    color: #4ECDC4;
    background-color: #292f36;
}
#searchError{
    color: #ffe66d;
}

.redTxt{
    color:#F7FFF7;
}
.drink-results{
    background-color:#292f36;
}

.container{
    /* background-color:#ffe66d ; */
    /* padding-top: 20px; */
    border-radius: 1rem;
}

.card{
    border: 3px solid #8D80AD;
    transition: border 0.5s;
    border-radius: 1rem;
    background-color: #292f36;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-height: 466px; */
}
.card:hover{
    border: 3px solid #4ECDC4;
    transition: border 1s;
}
.card-body{
    color: #f7fff7;
}
.card-img-top {
    box-sizing:border-box;
    border: 20px solid #292f36;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.btn {
    color: #f7fff7;
    border-color:#8D80AD;
}
.btn-outline-secondary:hover {
    color: #f7fff7;
    background-color: #4ecdc4;
    border-color: #292f36;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#navbar {
    color:#292f36;
    /* background-color: #292f36; */
    background: rgba(41, 84, 115, 0.024);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1 rem;
}
.navbar-brand {
    color:#4ECDC4;
}

/* input { */
    /* color:#ff6b6b; */
}

#search-bar{
    /* color:#ef476f; */
    background-color: #f7fff7;
}
#searchButton {
    color: #f7fff7;
}
#searchButton:hover{
    color:#4ECDC4;
    background-color:#8D80AD;
    /* background-color:#ff6b6b; */
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

div.carousel-item img{
margin:auto;
width:50%;
border-radius: 2rem;
}